pandas
streamlit 
llama_index==0.8.64 
openai==1.10.0
pypdf 
sentence-transformers 
ragas
openai
spacy
ipywidgets==7.7.5  
beautifulsoup4
speechrecognition
streamlit-extras
httpx==0.27.2
